@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(8, 104, 196);
  --background-color-hover: rgb(29, 77, 123);
  --shadow: rgb(166, 148, 255);
  --color: antiquewhite;
  --input-background: #fff;
  --input-text-color: black;
}

/* Dark theme overrides */
[data-theme="dark"] {
  --background-color: rgb(7, 26, 44);
  --background-color-hover: rgb(29, 77, 123);
  --shadow: rgb(166, 148, 255);
  --color: antiquewhite;
  --input-background: rgb(9, 81, 149);
  --shadow: rgba(166, 148, 255, 0.632);
  --input-text-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, "sans-serf";
  scroll-behavior: smooth;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

#canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
}
body {
  background: rgb(73, 2, 88);
  background: radial-gradient(
    circle,
    var(--background-color) 0%,
    rgb(5, 41, 74) 100%
  );
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
.img-drop-shadow {
  filter: drop-shadow(0 0 0.75rem rgb(166, 148, 255));
}

.animation-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-scale {
  animation: scale 0.5s ease-in-out forwards;
  animation-timeline: view();
  animation-range-start: 20px;
  animation-range-end: 90px;
  transform: scale(0);
}

@keyframes scale {
  to {
    transform: scale(1);
  }
}

.skill-icon {
  transition: 0.3s ease-in-out;
}

.skill-icon:hover {
  transform: translateY(-20%);
}

@layer components {
  .CTA-btn {
    background-color: var(--background-color);
    padding: 6px 16px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
  }
  .CTA-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.75rem var(--shadow);
  }
  .CTA-btn:disabled {
    transform: none;
    box-shadow: none;
  }
}
.openToRight {
  animation: openToRight 0.7s ease-in-out forwards;
}
@keyframes openToRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.openToLeft {
  animation: openToLeft 0.7s ease-in-out forwards;
}
@keyframes openToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.in-view {
  animation: in-view linear forwards;
  animation-timeline: view();
  animation-range-start: 10px;
  animation-range-end: 500px;
  opacity: 0;
  scale: 0.8;
}
@keyframes in-view {

  to {
    opacity: 1;
    scale: 1;
  }
}