@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
}
a,
ul,
li {
  text-decoration: none;
  list-style: none;
  color: rgb(166, 148, 255);
}

#canvas {
  position:fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
}
body {
  background: rgb(73, 2, 88);
  background: radial-gradient(circle, rgb(8, 104, 196) 0%, rgb(5, 41, 74) 100%);
}
:root {
  --background-color: rgb(8, 104, 196);
  --shadow:rgb(166, 148, 255)
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
.img-drop-shadow {
  filter: drop-shadow(0 0 0.75rem rgb(166, 148, 255));
}

@layer components {
  .CTA-btn {
    background-color: var(--background-color);
    padding: 6px 16px;
    border-radius: 20px;
    transition: .3s ease-in-out;
  }
  .CTA-btn:hover{
    transform: scale(1.05);
    box-shadow :0 0 0.75rem var(--shadow);

  }
}
